/* .card-body {
    min-height: 100px;
    min-width: 100px;
    margin-right: 5px;
} */

.scroll {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.scroll {
  -ms-overflow-style: none;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  margin-right: 5px;
  
}

.flip-card-inner {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
}

.flip-card:hover .flip-card-inner {
  cursor: pointer;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
}

.flip-card-front {
  /* background-color: #bbb; */
  color: black;
  border-radius: 3px;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  border-radius: 3px;
}