@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

body {
  margin: 0;
  font-family: "Fredoka One", cursive;
  font-family: "Alegreya Sans", sans-serif;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.8);
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
